.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  .navLinks {
    display: flex;
    flex-direction: row;

    .navLink {
      margin-left: 8px;
      text-decoration: none;

      &:visited {
        color: black;
      }
    }

    .navLinkActive {
      text-decoration: underline;
    }
  }
}
