---
const { currentPath } = Astro.props;

const nav = [
  { name: "Thoughts", href: "/thoughts" },
  { name: "Experiments", href: "/experiments" },
  { name: "About", href: "/about" },
];

interface Props {
  currentPath: string;
}
---

<header>
  <a class="title" href="/thoughts">Thoughts</a>
  <nav>
    {nav.map(({ name, href }) => (
      <a href={href} class:list={[{ active: currentPath.startsWith(href) }]}>
        {name}
      </a>
    ))}
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem 0 3rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 900;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav a.active {
    text-decoration: underline;
  }
</style>
